[Unit]
Description=389 Directory Server Audit Log Socket
Before=dirsrv.target

[Socket]
ListenFIFO=/var/log/dirsrv/slapd-%i/audit
SocketMode=0660
SocketUser=dirsrv
SocketGroup=dirsrv

[Install]
WantedBy=dirsrv.target
