[Unit]
Description=389 Directory Server Audit Log Bridge to Graylog
Before=dirsrv.target
Wants=dirsrv.target
ConditionPathExists=/etc/default/dirsrv-audit-graylog-bridge
RefuseManualStart=true

[Service]
Exec=/opt/dirsrv-audit-graylog-bridge/main.py --graylog-host=${GRAYLOG_HOST} --graylog-port=${GRAYLOG_PORT}
EnvironmentFile=/etc/default/dirsrv-audit-graylog-bridge
StandardInput=socket
StandardOutput=journal
StandardError=journal
